.reports-container {

    
    display: flex;
    flex-direction: column; 
    align-content: center;
    height: 100vh;
    justify-content: flex-start;
    margin-top:2em
    
}
.charts-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75vw;
    margin-top: 4em;
    /* height: 90vh; */
   
    /* padding-top: 2em; */
    border-radius: 3em;
    padding-bottom: 2em
}

.states-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70vw;
    
}
.state-total-bar {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 24vw;
    background-color: rgb(174, 183, 192);
    border-radius: 2em;
    padding: 3em
}

.state-percent-chart {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 24vw;
    background-color: rgb(174, 183, 192);
    border-radius: 2em;
    padding: 3em
   
}
.genre-div {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70vw;
}

.genre-top-bar {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 24vw;
    background-color: rgb(223, 217, 217);
    border-radius: 2em;
    padding: 2em
}

.genre-percent-chart {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 24vw;
    background-color: rgb(223, 217, 217);
    border-radius: 2em;
    padding: 2em

}


