
fieldset {
    width: 25vw;
}

.FacilityForm {
    margin: 2em;
}

.form-fac {
   width: 40vw
}

h4.section-heading {
    text-align: left;
}
.div-header {
    /* display: flex;
    flex-direction: row; */
    justify-content: space-between;
    height: 8vh;
    width: 80vw;
    margin: 0 0 0 0;
    background-color: black
    
    
    
}
.header-user {
    color: white
}

.section-heading {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 2em;
}

.facility-container {
    
    width: 80vw;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    padding: 0em;

}

.btn-add {
    margin-bottom: 2em;
}

.btn-edit {
    background-color:   #D95D39;
    border-radius: .4em;
    color:whitesmoke;
    border: none;
    padding: .5em;
    margin-right: .1em;
    border: none;

}

.btns-save-return {
  display: flex;
  justify-content: left;
  width: 60vw
  
}

.btn-ret {
    
    background-color:  #D95D39;
    border-radius: .4em;
    color:whitesmoke;
    border: none;
    padding: .5em;
    margin-right: .1em;
    font-weight: bolder;
}

.btn-del {
  background-color:  #D95D39;
   border-radius: .4em;
   color: whitesmoke;
   border: none;
   padding: .5em;
   margin-right: .1em;
   
}

.btn-det {
    background-color: #7b9e89;
    border-radius: .4em;
    color:white;
    border: none;
    padding: .5em;
    margin-right: .1em;
    border: none;
    
  }

.btn-header {
      width: 70vw;
      text-align: left;
  }

.fac-table {
    width: 26vw
}
.city-table {
    width: 9vw
}

.state-table {
    width: 4vw
}

.sent-table {
    width: 4vw
}
.returns-table {
    width: 4vw
}

.mod-table {
    width: 6vw;
    text-align: center
}

.table-facility-list {
    width: 70vw
}