
#root {
    height: 100vh
}
fieldset {
    
    width: 25vw;
}

.facility-heading {
    margin-left: 2em
}

.main-container {
 width: 55vw;
 height: 80vh;
 margin-top: 6em;
 padding-top: 0em;
}
.table-facility-list {
    width: 50vw;
    height: 70vh;
   padding-right: 0em;
   margin-left: 2em;
   overflow-y: auto;
   
}
.facility-container {
    
    display:flex;
    flex-direction: row;
    width: 50vw;
}
.FacilityForm {
    margin: 2em;
    display: flex;
    flex-direction: column;

}

.form-container {
    width: 20vw;
    margin-left: 2em

}
.form-fac {
   width: 20vw
}
.facility-form-comp {
   
   
    width: 25vw;
    margin-right: 2em;
    /* margin-left: 3em; */
    background-color: lightgray;
    border-radius: 4em;
    padding-top: .2em;
    font-size: small;
    
}

.facility-form-edit {
    width: 25vw;
    height: 100vh
    /* margin-top: 6em;
    margin-right: 2em;
    margin-left: 3em; */
    /* background-color: lightgray;
    border-radius: 4em;
    padding-top: .2em; */
    

}

.facility-comp{
    margin-left: 0em;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;   
}


.div-header {
    /* display: flex;
    flex-direction: row; */
    justify-content: space-between;
    height: 8vh;
    width: 80vw;
    margin: 0 0 0 0;
    background-color: black
    
    
    
}
.header-user {
    color: white
}

.heading {
    display: flex;
    flex-direction: column;
    width: 10vw;
   margin:  0 0 0 0
}



/* //DETAILS */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh
}

.btn-add {
    margin-bottom: 2em;
}

.btn-save {
    border-radius: .4em;
   color: whitesmoke;
   border: none;
   padding: .5em;
   margin-right: .1em;
   width: 8vw;

}

.btn-edit {
    background-color:  #D95D39;
    border-radius: .4em;
    color: whitesmoke;
    border: none;
    padding: .5em;
    margin-right: .1em;
    margin-top: .5em;
    width: 8vw;
    padding-right: 2px;
}

.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: .5em;
  
}

/* .table-data {
    font-size: smaller;
} */




.btn-del {
  background-color:  #D95D39;
   border-radius: .4em;
   color: whitesmoke;
   border: none;
   padding: .5em;
   margin-top: 1em;
   padding: 5px 5px;
   width: 8vw;
}

.btn-det {
    background-color: #7b9e89;
    border-radius: .4em;
    color:white;
    border: none;
    padding: .5em;
    margin-right: .1em;
    border: none;
  }

.btn-header {
      width: 70vw;
      text-align: left;
  }

.fac-table {
    width: 20vw
}
.city-table {
    width: 9vw
}

.state-table {
    width: 4vw
}

.sent-table {
    width: 4vw
}
.returns-table {
    width: 4vw
}

.mod-table {
    width: 4vw;
    text-align: center
}



.facility-detail-card {
    width: 60vw
}

 .search {
     width: 15vw;
     margin-bottom: 2em;
     font-size: small;
    
}