/* .facility-comp {
    display:flex;
    flex-direction: column;
    width: 80vw
} */

fieldset {
    width: 25vw;
}

.FacilityForm {
    margin: 2em;
    font-size: small;
   
    
}

h4.section-heading {
    text-align: left;
}
.header-div {
    /* display: flex;
    flex-direction: row; */
    justify-content: space-between;
    height: 8vh;
    background-color: #D95D39;
    width: 80vw;
    margin: 0 0 0 0
   
    
}

.header-user {
    color: white
}

/* .fac-container {
     width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
   

}  */


.section-heading {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 2em;
}

.facility-container {
    
    width: 80vw;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    padding: 0em;

}

.btn-add {
    margin-bottom: 2em;
}

.btn-edit {
    background-color: #F0A202;
    border-radius: .4em;
    color:whitesmoke;
    margin-right: .5em

}

.btn-ret {
    margin-left: .2em;
    background-color: #7B9E89;
    border-radius: .4em;
    color:whitesmoke
}

.btn-del {
  background-color: #D95D39;
   border-radius: .4em;
   color: whitesmoke
}

.btn-det {
    background-color: #D95D39;
     border-radius: .4em;
     color: whitesmoke
  }

  .btn-header {
      width: 70vw;
      text-align: left;
  }

.fac-table {
    width:18vw
}
.city-table {
    width: 11vw
}

.state-table {
    width: 5vw
}

.mod-table {
    width: 12vw;
    text-align: center
}

.table-facility-list {
    width: 70vw
}