.main-container {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    width: 85vw;
    align-items: center;
    margin-top: 0em
}


.form-and-list-container {
  
    height: 95vh;
    width: 85vw;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    
}
.header{
    background-color: black;
    color:whitesmoke;
    width: 85vw;
    height: 5vh;
    margin-left: 0em
  
}

.row {
    display: flex;
    flex-direction: row;
}
.list-container {
    display:flex;
    flex-direction: row ;
    width: 50vw;
    
    margin-left: 2em;
    font-size: smaller;
}
.table-list {
    width: 50vw;
    margin-left: 1em;
    height: 70vh;
    overflow-y: auto;
}

.container-form {
    border-radius: 4em;
    padding: 2em;
    margin-right: 2em;
    margin-left: 2em;
    font-size: smaller;
    height: 100vh;
    margin-top: 10em
}
.form-container { 
    height: 100vh

}

.container-add-form {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   height:fit-content;
    width: 35vw;
   
}
    
.form-parcel {
    height:fit-content;
    background-color: lightgray;
    padding: 1em;
    border-radius: 2em;
}
.parcel-form {
    display: flex;
    flex-direction: column;
    margin: 1em;
    font-size: small; 
    height: 38vw;
    margin: 2em;
    padding-top: 1em;
    background-color: lightgray;
    border-radius: 3em
    }

/*EDIT FORM*/

.form-edit-container {
    width: 85vw;
    height: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4em;
    /*  */

}

.ParcelForm {
    width: 100vw;
    margin: 0em
}
.parcel-form-edit {
    height: fit-content;
    width: 30vw;
    background-color: lightgray;
    padding: 1em;
    border-radius: 1em;
}

.edit-form-fieldset {
    width: 80vw
}

        .btns-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
        }


.parcel-return-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2em;
    width: 100vw

}

.returns-container {
    margin: 2em
}

.section-heading {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 2em;
    margin-left: 2em;
}


.form-parcel {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin: .5em;

}

.date-input {
    border: lightgray 1px solid

}

.div-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2em;
    height: 8vh;
    background-color: black;
    width: 85vw;
    
}

.btns-save-return {
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.header-user {
    color: white
}

.date-input {
    width: 10em;
    height: 3em;
    margin-left: -2em;
    border-radius: .2em;
}

.div-label-input {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 25vw
}

label {
    width: 10em;
    
}

/*PARCELLIST */

.table-data {
    font-size: smaller;
}


.mod {
    width: 10vw
}

.returned {
    width: 4vw
}

.btn-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    width: 25vw
    
}

.btn-undo{
    width: 8vw;
    height:fit-content;
    margin-left: 3.5em;;
}
.btn-edit {
    width: 5vw;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: .2em;
    
}

.btn-edit-list {
    width: 5vw;
    padding: 0;
    margin-bottom: 2px;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: .2em;
    
}

.btn-return-list {
    width: 5vw;
    padding: 0;
    margin: 0;
    background-color: #7b9e89;
    color: black;
    border: none;
    border-radius: .2em;

}

.btn-return {
    width: 5vw;
    padding: 0;
    margin: 0;
    background-color: #7b9e89;
    color: black;
    border: none;
    border-radius: .2em;

}

.btn-del {
    background-color:  #D95D39;
   border-radius: .2em;
   color: whitesmoke;
   border: none;
   padding: 6px 0px;
    margin-left: .5em;
   margin-right: .5em ;
   width: 8vw;
}

.modal-date-input{
    margin: 2em
}

.form-parcel-modal {
    width: 20vw
}

.total-div { 
    text-align: center;
    width: 85 vw
}

.search-bar {
    width: 15vw
}