.parcel-container {
    display:flex;
    flex-direction: column;
    width: 80vw;
  
}

fieldset {
    width: 25vw;
}

.ParcelForm {
    display: flex;
    flex-direction: column;
    margin: 2em;
    font-size: small; 
    width: 50vw;
}

.heading-section {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 2em;
    margin-left: 2em;
}

.table-parcels-list {
    width: 55vw;
    margin-left: 2em
   
}

.form-parcel {
    display: flex;
    flex-direction: column;
   
}

.form-input {
    margin: .5em
}

.date-input {
    border: lightgray 1px solid

}

.div-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2em;
    height: 8vh;
    background-color: black;
    width: 85vw;
    
}

.btns-save-return {
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.header-user {
    color: white
}

.date-input {
    width: 10em;
    height: 3em;
    margin-left: -2em;
    border-radius: .2em;
}

.div-label-input {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 30vw
}

label {
    width: 10em;
    
}

/*PARCELLIST */

.table-data {
    font-size: smaller;
}

.parcelNumber {
    width: 5vw;
}

.date {
    width: 8vw;
}

.facility {
    width: 16vw;
}

.genre {
    width: 8vw
}

.mod {
    width: 10vw
}

.returned {
    width: 4vw
}

.btn-edit {
    width: 5vw;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: .2em;
    
}

.btn-return {
    width: 5vw;
    padding: 0;
    margin: 0;
    background-color: #7b9e89;
    color: black;
    border: none;
    border-radius: .2em;

}