.main-container {
   
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 100vh;
    align-items: center;
    
  
   }


.form-and-list-container {
    display: flex;
    width: 80vw;
}
.list-container {
    display:flex;
    flex-direction: column;
    width: 52vw;
    height: 90vh;
    font-size: smaller;
}
    .table-parcels-list {
    width: 52vw;
    margin-left: 1em;
    height: 80vh;
    overflow-y: auto;
            }

.parcel-container {
    width: 80vw
}

.form-container {
    width: 25vw;
    margin: 2em;
}
    .ParcelForm {
    display: flex;
    flex-direction: column;
    margin: 1em;
    font-size: small; 
    width: 20vw;
    }

        .btns-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
        }


/* .parcel-return-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2em;
    width: 100vw

} */

.returns-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80vw;
    align-items: left;
    justify-content: left;
    margin-top: 2em;
    font-size: smaller;

}

.returns-heading {
    text-align: left;
    margin-bottom: 2em;
    margin-left: 1em;
}


.section-heading {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 2em;
    margin-left: 2em;
}


.form-parcel {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin: .5em;

}

.date-input {
    border: lightgray 1px solid

}

.div-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2em;
    height: 8vh;
    background-color: black;
    width: 85vw;
    
}

.btns-save-return {
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.header-user {
    color: white
}

.date-input {
    width: 10em;
    height: 3em;
    margin-left: -2em;
    border-radius: .2em;
}

.div-label-input {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 25vw
}

label {
    width: 10em;
    
}

/*PARCELLIST */

.table-data {
    font-size: smaller;
}

.parcelNumber {
    width: 5vw;
}

.date {
    width: 8vw;
}

.facility {
    width: 16vw;
}

.genre {
    width: 8vw
}

.mod {
    width: 10vw
}

.returned {
    width: 4vw
}


.btn-undo{
    width: 13vw;
    
}
.btn-edit {
    width: 5vw;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: .2em;
    
}

.btn-edit-list {
    width: 5vw;
    padding: 0;
    margin-bottom: 2px;
    background-color: rgb(65, 65, 65);
    color: white;
    border: none;
    border-radius: .2em;
    
}

.btn-return-list {
    width: 5vw;
    padding: 0;
    margin: 0;
    background-color: #24a0ed;
    color: white;
    border: none;
    border-radius: .2em;

}

.btn-return {
    width: 5vw;
    padding: 0;
    margin: 0;
    background-color: #7b9e89;
    color: black;
    border: none;
    border-radius: .2em;

}

.btn-del {
    background-color:  #D95D39;
   border-radius: .2em;
   color: whitesmoke;
   border: none;
   padding: 6px 0px;
   margin:0px 0px ;
   width: 8vw;
}

.return-table{
    font-size: smaller;
}

.search-bar {
    width: 40vw;
    font-size: smaller
}


