
 #root {
     background-color: whitesmoke;
 }

article {
    /* background-color:  black; */
    width: 100%
}


.section-home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center; 
    align-items: center;
}

.card-div {
    display: flex;
    flex-direction: row;
    margin: 1em;
    font-size:small;
    justify-content: center;
   
}

.splash-card {
    text-align: center;
    border-radius: 2em;
    background-color: lightgrey;
    padding: 1em;
    height:20vh
}

.img {
    height: 80px;


}

.header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: black;
    color: whitesmoke;
    height: 18vh
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
}

.btn-logout {
    width: 8em;
    border-radius: 1em;
    background-color: #7b9e89;
    font-weight: bolder;
}

.greeting-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.flex-row-div {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
