.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2em;
    height: 8vh;
    background-color: #D95D39;
    width: 80vw;
   
}

.section-home {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center; 
    align-items: center;

}

.card-div {
    display: flex;
    flex-direction: row;
    margin: 1em;
    font-size: smaller
}

.splash-card {
    border-radius: 6em;
}