.nav-menu{
    display: flex;
    justify-content: flex-start;
    background-color: black;
    /* background-color: #0E1428; */
    width: 15vw;
    height: 100vw
  
}

.nav-header-user {
    display:flex;
    font-weight:normal;
    justify-content: center;
    align-items: center;
    background-color:black;
    height: 8vh;
    color: white;
    width: 15vw;
}

.nav-link{
    /* border: 1px whitesmoke solid; */
   
    color: whitesmoke;
    font-size: larger;
   background-color: rgb(10, 10, 10);
   border: black 1px solid;

   text-align: center;

}

.active {
    /* background-color: darkgray; */
}
